<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <title><%= title %></title>
</head>
<body>
<header>
    <nav>
        <h4>
            Message Board
        </h4>
        <ul>
            <% if (locals.currentUser) { %>
                <li><a href="/messages/new">New message</a></li>
            <% } %>
            <li><a href="/">Home</a></li>
            <li>
                <% if (locals.currentUser) { %>
                    <a href="/logout">Logout</a>
                <% } else { %>
                    <a href="/login">Login</a>
                <% } %>
            </li>
            <% if (locals.currentUser && currentUser.role == 'user') { %>
                <li><a href="/become-member">Become a member</a></li>
            <% } %>
        </ul>
    </nav>
</header>
